# Requisitos detectados a partir del notebook y la app
kagglehub==0.3.13
lime==0.2.0.1
onnxmltools==1.14.0
onnxruntime==1.23.2
onnxconverter-common==1.16.0
onnx
lightgbm
shap
optuna
category_encoders
streamlit
matplotlib
seaborn
scikit-learn
pandas
numpy
joblib

